# Virtual environment (do NOT push to Git)
.venv/
venv/
env/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# OS-specific metadata
.DS_Store
Thumbs.db

# IDE configuration
.idea/
.vscode/
